
#[Member]
#ETCD_ENABLE_V2=true
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_LISTEN_PEER_URLS="http://127.0.0.1:2380,http://{{ ansible_default_ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379,http://{{ ansible_default_ipv4.address }}:2379"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ELECTION_TIMEOUT="5000"

#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380" 
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"

ETCD_NAME="{{ inventory_hostname }}"
{# ETCD_NAME="{{ inventory_host }}" #}
ETCD_INITIAL_CLUSTER="{% for host in groups['patroni_etcd'] %}{{hostvars[host]['inventory_hostname']}}=http://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
