#[Member]
ETCD_ENABLE_V2="true"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_host }}:2379,http://127.0.0.1:2379"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ELECTION_TIMEOUT="5000"
#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:2380" 
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"

ETCD_NAME="{{ HOSTNAME }}"
ETCD_INITIAL_CLUSTER="{{ ETCD_INITIAL_CLUSTER }}"
ETCD_INITIAL_CLUSTER_STATE="new"


