
stream {
  upstream kubernetes {
    server {{ CONTROLLER0_IP }}:6443;
    server {{ CONTROLLER1_IP }}:6443;
    server {{ CONTROLLER2_IP }}:6443;
  }
server {
  listen 6443;
  listen 443;
  proxy_pass kubernetes;
  }
}